# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore these files
*.tar.gz
*.log
*.mk
*.o
CMakeLists.txt

# Ignore these directories
.idea/

